/****************general*****************/
* {
  padding: 0;
  margin: 0;
}

nav.navbar {
  background-color: rgba(0, 24, 160, 0.966);
  color: rgb(255, 217, 0);
}

nav.navbar ul.nav li {
  font-size: 20px;
  color: rgb(255, 217, 0);
}

#navcolor {
  font-size: 20px;
  color: rgb(255, 217, 0);
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.img__logo {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 10px;
  border-radius: 1px;
}

.img__ejemplo {
  width: 100px;
  height: 100px;
}

body {
  background-color: rgba(0, 24, 160, 0.966);
}

ul {
  list-style: none;
}

a {
  text-decoration-line: none;
}

footer ul li {
  text-decoration-line: none;
}

footer a {
  text-decoration-line: none;
  color: rgb(255, 217, 0);
}

.h1__fontstyle {
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 45px;
  color: rgba(0, 24, 160, 0.966);
}

.h2__fontstyle {
  text-align: center;
  font-family: "Merriweather", serif;
  color: rgba(0, 24, 160, 0.966);
}

a {
  text-decoration: none;
  color: rgb(255, 217, 0);
  font-family: cursive;
}

/****************header*****************/
header {
  background-color: rgba(0, 24, 160, 0.966);
  height: auto;
  padding-left: 100px;
  padding-right: 100px;
}

.nav__container {
  display: flex;
  justify-content: space-around;
}

.div__nav1 {
  margin: 10px;
}

.div__nav1 ul li {
  display: inline-block;
  margin-left: 3px;
  font-size: 20px;
  margin: 10px;
  font-size: 25px;
}

.div__nav2 ul li {
  display: inline-block;
  margin-left: 3px;
  font-size: 20px;
  margin: 10px;
}

/****************section*****************/
section {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 25px;
}

form {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  width: 250px;
  height: 300px;
  border-radius: 20px;
}

.p__fontstyle {
  color: rgba(0, 24, 160, 0.966);
  text-align: center;
}

.label__list {
  margin-top: 10px;
}

.cointainer__form {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 24, 160, 0.966);
  margin-left: 250px;
  margin-right: 250px;
}

.form__parts {
  padding-right: 25px;
}

.form__contacto {
  padding-top: 20%;
}

.contact__letters {
  padding-top: 15px;
  font-family: "Meddon", cursive;
  color: rgba(0, 24, 160, 0.966);
}

.index__img1 {
  background-image: url("../img/depositphotos_25348617-stock-photo-hands-holding-coffee.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
}
.index__img2 {
  margin-top: 0;
  height: 1000px;
}

.cajaConsulta {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 15px;
  padding-top: 15px;
  border-radius: 25px;
  border-color: rgb(255, 60, 0);
  border: 2px;
  margin-left: 550px;
  margin-right: 550px;
  margin-top: 25px;
  background-color: rgba(0, 24, 160, 0.966);
}

.letras__faq {
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
  color: rgb(255, 217, 0);
  text-align: center;
  margin-bottom: 10px;
}

.letras__respuestas {
  font-family: "Libre Baskerville", serif;
  font-size: 15px;
  color: white;
  text-align: center;
}

.productos__container {
  border-top: 1px solid rgba(0, 24, 160, 0.966);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 25px;
  padding-left: 50px;
}

.vid__container {
  border-top: 1px solid rgba(0, 24, 160, 0.966);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 25px;
  padding-left: 100px;
}

.articulo__productos {
  margin-left: 50px;
  width: 800px;
}

.card-text {
  color: rgb(255, 217, 0);
  background-color: rgba(0, 24, 160, 0.966);
}

.card-text a {
  text-decoration-line: none;
}

.card-body {
  background-color: rgba(0, 24, 160, 0.966);
}

/****************footer*****************/
footer {
  background-color: rgba(0, 24, 160, 0.966);
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer__logo {
  height: 50px;
  width: 60px;
  margin-bottom: 10px;
}

.footer__container {
  display: flex;
  justify-content: space-around;
}

.copyright__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}

.social__list {
  padding-top: 25px;
}

.pago__list {
  padding-top: 15px;
}

.footer__letters {
  color: rgb(255, 217, 0);
}
/****************iconos*****************/

.div__icons {
  height: fit-content;
  width: fit-content;
  padding: 5px;
}

#personaPensando {
  border-radius: 20px;
  margin: 12px;
  width: 250px;
  height: 315px;
}

/****************img*****************/

.img__productos {
  width: 300px;
  height: 300px;
  padding-top: 15px;
}

.img__container {
  margin-bottom: 0;
  padding-right: 100px;
  padding-left: 100px;
}

.vid__estiloCafes {
  border-color: rgba(0, 24, 160, 0.966);
  margin-right: 100px;
  padding-top: 5px;
}
