.contact__letters {
  padding-top: 15px;
  font-family: "Meddon", cursive;
  color: rgba(0, 24, 160, 0.966);
}

.card-text {
  color: rgb(255, 217, 0);
  font-family: "Libre Baskerville", serif;
  background-color: rgba(0, 24, 160, 0.966);
}

.card-text a {
  text-decoration-line: none;
}

.card-body {
  background-color: rgba(0, 24, 160, 0.966);
}
