.vid__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 250px;
  margin-right: 250px;
  padding-left: 100px;
}

.vid__estiloCafes {
  flex-wrap: wrap;
  margin-right: 100px;
  padding-top: 5px;
}

.img__nosotros {
  width: 300px;
  height: 300px;
  padding-top: 15px;
}
